@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  margin: 0;
  min-height: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to bottom, #f1f5f9, #ffffff);
}

* {
  box-sizing: border-box;
}